﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">LocalQueue</h1>
        <p>Web-based point of sale and management software designed for repair shops!</p>
        <p>Created by Forrest Sinnes</p>
    </div>
