﻿@model IEnumerable<FSMVC.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create"> Create New </a>
    |
    <a href="TicketStatus/Index"> Edit Ticket Statuses </a>
    |
    <a href=""> This Doesnt Work </a>
    |
    <a href=""> This Doesnt Work </a>
    |
    <a href=""> This Doesnt Work </a>
</p>
<table id="myTable"class="table">
    <thead>
        <tr>
            <th>
                Check In
            </th>
            <th>
                Check In Notes
            </th>
            <th>
                Status
            </th>
            <th>
                Customer
            </th>
            <th>
                Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInNotes)
            </td>
            <td>
                @switch (item.TicketStatus.Status)
                {
                    case "Assessment":
                        <span style="color:red;">
                            @Html.DisplayFor(modelItem => item.TicketStatus.Status)
                        </span>;
                        break;
                    case "In Repair":
                        <span style="color:#aa9830;">
                            @Html.DisplayFor(modelItem => item.TicketStatus.Status)
                        </span>;
                        break;
                    case "Repaired":
                        <span style="color:#367c19;">
                            @Html.DisplayFor(modelItem => item.TicketStatus.Status)
                        </span>;
                        break;
                    default:
                        <span style="color:#000000;">
                            @Html.DisplayFor(modelItem => item.TicketStatus.Status)
                        </span>;
                        break;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script>

}
